{% extends "base.html" %}

{% block title%}Annotate{% endblock %}

{% block content%}

{% load staticfiles %}
      <form style="margin-top:30px" action="{% url 'annotate:annotate' %}" method="POST" id="form">

      <input id="stop" type="submit" class="pull-right btn btn-danger btn-lg" 
             style="margin-right:30px" name="stop" value="Stop annotating"/>

      <h1>MediaEval 2016</h1>

      <h2>Which image is more interesting?</h2>

	{% csrf_token %}

	<div class="row">
	  <div class="col-xs-6 text-center">
	    <img src="{% static 'annotate/' %}{{ image1 }}"
		 width=800 id="video_shot1"/>
	    <br />
	    <input id="video1_button"
                   class="btn btn-primary btn-lg" type="submit"
		   name="shot1" value="More interesting" 
		   style="margin-top:30px"/>
	  </div>
	  <div class="col-xs-6 text-center">
	    <img src="{% static 'annotate/' %}{{ image2 }}"
                 width=800 id="video_shot2"/>
	    <br />

	    <input id="video2_button"
                   class="btn btn-primary btn-lg" type="submit"
		   name="shot2" value="More interesting"
		   style="margin-top:30px"/>
	  </div>
	</div>

	<input type="hidden" name="shot1_id" value="{{ shot1_id }}" />
	<input type="hidden" name="shot2_id" value="{{ shot2_id }}" />
	<input type="hidden" name="pair_id" value="{{ pair_id }}" />

        <input type="hidden" name="start" value="start" />
      </form>

{% endblock %}
