{% extends "base.html" %}

{% block title%}Annotate{% endblock %}

{% block content%}

{% load staticfiles %}

<div class="jumbotron">
<p class="lead">Thank you for accepting to give some of your time to help us in our research!</p>

<p>We are interested in understanding what makes an image interesting when trying to illustrate a web site. More specifically, our use case involves helping professionals to illustrate a Video on Demand (VOD) web site by selecting some interesting frames for the movies. The frames should be suitable in terms of helping a user to make his/her decision about whether he/she is interested in watching a movie.</p>

<p>During this test you will see several pairs of images. You will be asked to make a choice:</p>

<h2>Which of these 2 pictures is more interesting?</h2>

<p>Some pairs will be easier for you to decide than others. But don't worry, there is no good or wrong answers, please follow your feelings.</p>

<p>You will be able to stop the test at any time, just by clicking the <i>stop button</i>. But the more comparisons you do, the more valuable data we will have to conduct our research!</p>

<br/>
<form action="{% url 'annotate:annotate' %}" method="POST">
  {% csrf_token %}
  <input id="start" class="btn btn-primary btn-lg" type="submit"
         name="start" value="Start" />
</form>
</div>

{% endblock %}
